body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 20px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 352px;
    height: 352px
    
}

.grid-square {
    width: 64px;
    height: 64px;
    padding:0px;
    background-color: #fff; 
}